@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
/* Global Styles */
body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #201c24;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: none;
  padding: 0 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100vh;
  text-align: center;
  color: #fff;
  gap: 1rem;
}

.header-text h1,
.header-text h4,
.header-text p {
  color: #fff;
}

.header-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.header-text h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.header-text p {
  font-size: 0.8rem;
  width: 80%;
  font-weight: 200;
}
.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  gap: 1rem;
}
.header-button button {
  width: 50%;
  margin-top: 30px;
  padding: 13px 26px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
}
.btn-download-cv {
  background-color: #deb887;
}
.btn-hire-me {
  background-color: #1f3b4d;
}
.header-img {
  display: flex;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  top: 0;
  right: 0;
  padding-left: 10px;
  align-items: center;
}
.header-img img {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #deb887;
}

/* Contact Sections */
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contact-card {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 20px;
  align-items: center;
}

.contact-card h2 {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-card p{
  margin-bottom: 10px;
}

.contact-card i.fa{
  margin-right: 20px;
  font-size: 24px;
}

.contact-phone-icon{
  margin-left: 2px;
}

/* Projects Section */
.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects h2{
  font-size:  2rem;
  font-weight: 700;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-div{
  display: flex;
  margin: 0 ;
  padding: 0;
  height: 100%;
  align-items: center;
  width: 100%;
  overflow-x: auto; 
  white-space: nowrap;
}

.project-div::-webkit-scrollbar {
  display: none;
}

.project-list{
  display: flex;
  list-style: none;
  gap: 20px;
}

.project-list li{
  flex: 0 0 auto;
  min-width: 200px;
  height: auto;
  background: white;
  border-radius: 8px;
  color: black;
  padding: 20px;
  width: 500px;
  -ms-overflow-style: none;
  transition: 0.3s ease ;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis; 
  word-wrap: break-word; 
  max-width: 400px;
}

.project-list h3{
  color: #1f3b4d;
  font-size: 1.5rem;
  margin: 20px 0px;
  text-align: center;
}

/* Skills Section */
.skills-section{
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-top: 40px;
}
.skills {
  display: grid;
  height: 100%;
  padding: 20px 20px;
    grid-template-columns: repeat(3, 1fr);;
  gap: 20px;
  align-content: center;
}

.skills-header {
  text-align: center;
  padding: 20px;
  display: flex;
  color: wheat;
  justify-content: center;
  align-items: center;
}

.item{
  flex: 2;
  display: flex;
  height: auto;
  background-color: white;
  color: #000;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-image: none;
    background-color: #201c24;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 1rem;
    color: #fff;
  }

  .header-text h1,
  .header-text h4,
  .header-text p {
    color: #fff;
  }

  .header-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .header-text h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .header-text p {
    font-size: 0.8rem;
    width: 80%;
    font-weight: 200;
  }
  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    gap: 1rem;
  }
  .header-button button {
    width: 50%;
    margin-top: 30px;
    padding: 13px 26px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
  }
  .btn-download-cv {
    background-color: #deb887;
  }
  .btn-hire-me {
    background-color: #1f3b4d;
  }

  .header-img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .header-img img {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #deb887;
  }

  .contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .contact-card {
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
  }
}
